.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 30px;
  background-color: #1c1e21;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  column-gap: 20px;
}
