.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container > label {
  margin: 0 0 5px 0;
  text-align: left;
  font-size: 24px;
}

.container > input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.container > input::placeholder {
  color: #999;
}

.container > input:focus,
.container > input:active {
  outline: none;
  border: 2px solid #007bff;
}
