.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.container > label {
  margin: 0 0 5px 0;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.container > input {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  background-color: #1c1e21;
  border-bottom: 3px solid #34383e;
  color: white;
}

.container > input::placeholder {
  color: #999;
}

.container > input:focus,
.container > input:active {
  outline: none;
  border: 2px solid #e6b333;
}
