.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 3px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.form label {
  margin: 0;
  text-align: left;
  font-size: 24px;
  margin-bottom: 5px;
}

.form > input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.form input::placeholder {
  color: #999;
}

.form input:focus,
form > input:active {
  outline: none;
  border: 2px solid #007bff;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-top: -10px;
  text-align: left;
}

.form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.form button:hover,
.form button:focus {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
